<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <span th:text="${user.id}"></span>
    <span th:text="${user.name}"></span>
    <span th:text="${user.age}"></span>
    <span th:text="${user.address}"></span><br>

    <span th:text="${map.id}"></span>
    <span th:text="${map.name}"></span>
    <span th:text="${map.age1}"></span>
    <span th:text="${map.address}"></span><br>
    <img th:src="${zhuzhu}" width="100" height="150" alt="">


</body>
</html>